*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
a{
    text-decoration: none;
    color: #ffae86;
}
.navbar{
    background-color: rgb(32, 32, 32);
    display: flex;
    padding: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
}
.logo_img{
    width: 40px;
    filter: brightness(80%);
}
.r_nav{
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.rr_nav{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}