*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    color: #c15241;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
a{
    text-decoration: none;
    color: #c15241;
}
.dropdown{
    display: none;
}
.navbar{
    background-color: rgb(32, 32, 32);
    display: flex;
    padding: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
}
.logo_img{
    width: 40px;
    filter: brightness(80%);
}
.r_nav{
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.ll_nav{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
.rr_nav{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.background_img{
    filter: brightness(0.2);
    position: inherit;
    z-index: -1;
    width: 100%;
}
.main_top{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.search_area{
    gap: 20px;
    top: 30%;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.search_area>h1{
    font-size: 40px;
    color: #c15241;
}
.search{
    display: flex;
    justify-content: center;
}
.searchbar{
    width: 480px;
    padding-left: 30px;
    height: 57px;
    border: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.searchbar:hover{
    background-color: #e0e0e0;
    border: 0.09rem solid #c15241;
    box-shadow: 0px 10px 10px rgb(58, 58, 58);
}
.searchbutton{
    width: 100px;
    border: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #c15241;
    cursor: pointer;
    transition: 400ms;
}
.searchbutton:hover{
    background-color: #7e3429;
    box-shadow: 0px 0px 10px #491f18;
}
.card_option{
    gap: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10%;
}
.card{
    gap: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
}
.card>p{
    font-weight: 100;
}
.right_arrow{
    border-radius: 50px;
    padding: 10px;
    background-color: #343434;
    transition: 300ms;
}
.right_arrow:hover{
    border-radius: 20px;
    background-color: #4d4d4d;
}
.codelogo{
    filter: contrast(0.3);
    width: 40px;
}
.card>h4,.card>p{
    color: #c15241;
}
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.main{
    margin-top: 50px;
}
.all_cards{
    display: flex;
    flex-direction: row;
}
.project{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.beginner>hr{
    color: #c15241;
}
.project_area1{
    border: 1px solid rgb(63, 63, 63);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.project_area2{
    border: 1px solid rgb(63, 63, 63);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}
.project_area3{
    border: 1px solid rgb(63, 63, 63);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.beginner{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
}
.beginner>p{
    color: #636363;
}
h1{
    justify-content: center;
    display: flex;
}
.learn_lang{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card_lang{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid #343434;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}





@media screen and (max-width: 800px) {
    .lang{
        width: 300px;
    }
    .dropdown{
        padding: 15px;
        display: flex;
        gap: 20px;
    }
    .dropbtn{
        width: 40px;
    }
    .dropdown-content{
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
    }
    .card_option{
        gap: 0px;
    }
    .searchbar{
        border: 1px solid black;
    }
    .searchbar:hover{
        border: 1px solid #c15241;
    }
    .dropdown-content>a{
        padding-top: 10px;
    }
    .search_area>h1{
        font-size: 17px;
    }
    .searchbar{
        width: 220px;
        height: 37px;
    }
    .all_cards{
        flex-direction: column;
    }
    .project_area1{
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 0px;
    }
    .project_area3{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 0px;
    }
}