*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
a{
    text-decoration: none;
    color: #c15241;
}
.dropdown{
    display: none;
}
.navbar{
    background-color: rgb(32, 32, 32);
    display: flex;
    padding: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
}
.logo_img{
    width: 40px;
    filter: brightness(80%);
}
.r_nav{
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.ll_nav{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
.rr_nav{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.background_img{
    filter: brightness(0.2);
    position: inherit;
    z-index: -1;
    width: 100%;
}
.main_top{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.search_area{
    gap: 20px;
    top: 30%;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.search_area>h1{
    font-size: 40px;
    color: #c15241;
}
.search{
    display: flex;
    justify-content: center;
}
.searchbar{
    width: 480px;
    padding-left: 30px;
    height: 57px;
    border: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.searchbar:hover{
    background-color: #e0e0e0;
    box-shadow: 0px 10px 10px rgb(58, 58, 58);
}
.searchbutton{
    width: 100px;
    border: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #c15241;
    cursor: pointer;
    transition: 400ms;
}
.searchbutton:hover{
    background-color: #7e3429;
    box-shadow: 0px 0px 10px #491f18;
}
.card_option{
    gap: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{

}
.arrow{

}
.codelogo{
    filter: contrast(0.3);
    width: 40px;
}
.card>h4,.card>p{
    color: #c15241;
}









@media screen and (max-width: 600px) {
    .navbar{
        display: none;
    }
    .lang{
        width: 300px;
    }
    .dropdown{
        padding: 15px;
        display: flex;
        gap: 20px;
    }
    .dropbtn{
        width: 40px;
    }
    .dropdown-content{
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
    }
    .dropdown-content>a{
        padding-top: 10px;
    }
    .search_area>h1{
        font-size: 17px;
    }
    .searchbar{
        width: 220px;
        height: 37px;
    }
}